@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">  Joke Application😂</h1>
     <img class="card-img-top" src="https://c4.wallpaperflare.com/wallpaper/386/220/848/text-letters-minimalism-life-wallpaper-preview.jpg" />
   
</div>
